<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: rgb(4, 116, 196);
        color: white;
        text-align: left;
    }

    th, td {
        border: 1px solid black;
        padding: 0 6px;
    }

    table.number-data td {
        text-align: right;
    }

    table.number-data td:first-child {
        text-align: left;
    }
</style>

<p>{{ header }}</p>

{% if total != 0 %}
    {% if failed == 0 %}
        <h3 style="color: green">ALL TESTS PASSED ({{ total }})</h3>
    {% else %}
        <p>Test Summary (Failed / Total): {{ failed }} / {{ total }}</p>
    {% endif %}
{% else %}
    <p>No tests were run.</p>
{% endif %}

{% if sessionCreate and sessionCreate.error %}
    <h3>WebNN Error in chrome://gpu</h3>
    <ul>
        {% for line in sessionCreate.error %}
            <li>{{ line }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if ortLibraryPath and ortLibraryPath.error %}
    <ul>
        {% for line in ortLibraryPath.error %}
            <li>{{ line }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if failedCases != empty %}
    <table>
        <thead>
        <tr>
            <th>Test Case</th>
            <th>Models</th>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
        {% for case in failedCases %}
            <tr>
                {% if case.models.length == 1 %}
                    <td colspan="2">{{ case.variable }}-{{ case.models | join: ", " }}</td>
                {% else %}
                    <td>{{ case.variable }}</td>
                    <td>{{ case.models | join: ", " }}</td>
                {% endif %}
                <td>{{ case.error | split: "\n" | join: "<br>" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}

{% if deviceInfo %}
    <h3>Device Information</h3>
    <table>
        <thead>
        <tr>
            <th>Category</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for info in deviceInfo %}
            <tr>
                <td>{{ info[0] }}</td>
                <td>{{ info[1] | join: " " }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if sessionCreate.modules and sessionCreate.modules != empty %}
        <table>
            <thead>
            <tr>
                <th>Module</th>
                <th>Version</th>
            </tr>
            <tr>
                <th colspan="2" style="font-size: 12px">File</th>
            </tr>
            </thead>
            <tbody>
            {% for module in sessionCreate.modules %}
                <tr>
                    <td>{{ module[0] }}</td>
                    <td>{{ module[1].version }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 12px; color: gray">{{ module[1].file }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}

{% if inferenceTimeResult != empty or firstAverageMedianBestResult != empty or tokenPerSecondResult != empty %}
    <h3>Performance</h3>
{% endif %}
{% if inferenceTimeResult != empty %}
    <table class="number-data">
        <thead>
        <tr>
            <th>Demo</th>
            <th>Build<br>Time (ms)</th>
            <th>Inference<br>Time (ms)</th>
        </tr>
        </thead>
        <tbody>
        {% for item in inferenceTimeResult %}
            {% if item[1].inferenceTime %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1].buildTime }}</td>
                    <td>{{ item[1].inferenceTime }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}
{% if firstAverageMedianBestResult != empty %}
    <table class="number-data">
        <thead>
        <tr>
            <th>Demo</th>
            <th>Build<br>Time (ms)</th>
            <th>First<br>(ms)</th>
            <th>Average<br>(ms)</th>
            <th>Median<br>(ms)</th>
            <th>Best<br>(ms)</th>
            <th>Throughput<br>(FPS)</th>
        </tr>
        </thead>
        <tbody>
        {% for item in firstAverageMedianBestResult %}
            {% if item[1].average %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1].buildTime }}</td>
                    <td>{{ item[1].first }}</td>
                    <td>{{ item[1].average }}</td>
                    <td>{{ item[1].median }}</td>
                    <td>{{ item[1].best }}</td>
                    <td>{{ item[1].throughput }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}
{% if tokenPerSecondResult != empty %}
    <table class="number-data">
        <thead>
        <tr>
            <th>Demo</th>
            <th>Models</th>
            <th>Tokens<br>Per Second</th>
        </tr>
        </thead>
        <tbody>
        {% for item in tokenPerSecondResult %}
            {% if item[1].tokensPerSecond %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1].models | join: ", " }}</td>
                    <td>{{ item[1].tokensPerSecond }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}

{% if memory != empty %}
    <h3>Memory Consumption</h3>
    <table class="number-data">
        <thead>
        <tr>
            <th rowspan="3">Demo</th>
            <th colspan="6">Private Memory (GB)</th>
        </tr>
        <tr>
            <th colspan="3">Renderer</th>
            <th colspan="3">GPU</th>
        </tr>
        <tr>
            <th>before</th>
            <th>after</th>
            <th>peak</th>
            <th>before</th>
            <th>after</th>
            <th>peak</th>
        </tr>
        </thead>
        <tbody>
        {% for sample in memory %}
            <tr>
                <td>{{ sample[0] }}</td>
                <td>{{ sample[1].privateMemoryRendererBefore | gb }}</td>
                <td>{{ sample[1].privateMemoryRendererAfter | gb }}</td>
                <td>{{ sample[1].privateMemoryRendererPeak | gb }}</td>
                <td>{{ sample[1].privateMemoryGpuBefore | gb }}</td>
                <td>{{ sample[1].privateMemoryGpuAfter | gb }}</td>
                <td>{{ sample[1].privateMemoryGpuPeak | gb }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}

<p>{{ footer }}</p>

<p>Thanks,<br>{{ signature }}</p>
