<style>
    table {
        border-collapse: collapse;
        margin-bottom: 12px;
    }

    th {
        background-color: rgb(4, 116, 196);
        color: white;
    }

    th, td {
        border: 1px solid black;
        padding: 0 6px;
    }

    table.number-data td {
        text-align: right;
    }

    table.number-data td:first-child {
        text-align: left;
    }
</style>

<p>{{ header }}</p>

<p>Test Summary (Failed / Total): {{ failed }} / {{ total }}</p>

{% if failedCases %}
    <table>
        <thead>
        <tr>
            <th>Test Case</th>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
        {% for case in failedCases %}
            <tr>
                <td>{{ case.variable }}</td>
                <td>{{ case.error }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if deviceInfo %}
    <h3>Device Information</h3>
    <table>
        <thead>
        <tr>
            <th>Category</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for info in deviceInfo %}
            <tr>
                <td>{{ info[0] }}</td>
                <td>{{ info[1] | join: " " }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if inferenceTimeResult or firstAverageMedianBestResult %}
    <h3>Performance</h3>
    {% if inferenceTimeResult != empty %}
        <table class="number-data">
            <thead>
            <tr>
                <th>Demo</th>
                <th>Inference<br>Time (ms)</th>
            </tr>
            </thead>
            <tbody>
            {% for item in inferenceTimeResult %}
                {% if item[1].inferenceTime %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1].inferenceTime }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if firstAverageMedianBestResult != empty %}
        <table class="number-data">
            <thead>
            <tr>
                <th>Demo</th>
                <th>First<br>(ms)</th>
                <th>Average<br>(ms)</th>
                <th>Median<br>(ms)</th>
                <th>Best<br>(ms)</th>
                <th>Throughput<br>(FPS)</th>
            </tr>
            </thead>
            <tbody>
            {% for item in firstAverageMedianBestResult %}
                {% if item[1].average %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1].first }}</td>
                        <td>{{ item[1].average }}</td>
                        <td>{{ item[1].median }}</td>
                        <td>{{ item[1].best }}</td>
                        <td>{{ item[1].throughput }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

{% if memory %}
    <h3>Memory Consumption</h3>
    <table class="number-data">
        <thead>
        <tr>
            <th rowspan="3">Demo</th>
            <th colspan="6">Private Memory (GB)</th>
        </tr>
        <tr>
            <th colspan="3">Renderer</th>
            <th colspan="3">GPU</th>
        </tr>
        <tr>
            <th>before</th>
            <th>after</th>
            <th>peak</th>
            <th>before</th>
            <th>after</th>
            <th>peak</th>
        </tr>
        </thead>
        <tbody>
        {% for sample in memory %}
            <tr>
                <td>{{ sample[0] }}</td>
                <td>{{ sample[1].privateMemoryRendererBefore | gb }}</td>
                <td>{{ sample[1].privateMemoryRendererAfter | gb }}</td>
                <td>{{ sample[1].privateMemoryRendererPeak | gb }}</td>
                <td>{{ sample[1].privateMemoryGpuBefore | gb }}</td>
                <td>{{ sample[1].privateMemoryGpuAfter | gb }}</td>
                <td>{{ sample[1].privateMemoryGpuPeak | gb }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<p>{{ footer }}</p>

<p>Thanks,<br>{{ signature }}</p>
